.reveal{
  opacity: 1;
  transform: none;
}

/*
html.js .reveal{
  opacity: 0;
  transform: translateY(14px);
  transition: opacity .6s ease, transform .6s ease;
}

html.js .reveal.is-visible{
  opacity: 1;
  transform: translateY(0);
}
*/